{% load static %}
{% load socialaccount %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'iofrm-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'iofrm-theme27.css' %}">

<html>
    <body>
        <h1>you are logined</h1>
    </body>
</html>